<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>OpendyslexicBold-9Yo9n.otf</string>
		<string>OpendyslexicBoldItalic-ywjGe.otf</string>
		<string>OpendyslexicItalic-lgd50.otf</string>
		<string>OpendyslexicRegular-nRLZ0.otf</string>
		<string>Silkscreen-Regular.ttf</string>
		<string>open-dyslexic.ttf</string>
	</array>
</dict>
</plist>
